body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(14, 14, 15);
    color:whitesmoke;
}

#box {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(38, 38, 42);
    outline-color: white;
    border: 2px solid black;
}